{:paths ["src"]
 :deps {quil/quil {:mvn/version "3.1.0"}}
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}}
 :aliases {:dev {:jvm-opts ["-Dlogback.configurationFile=logback.xml" "--illegal-access=deny"]}
           :cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.25.10"}}}
           :cljs-cli {:extra-deps {thheller/shadow-cljs {:mvn/version "2.25.10"}}
                      :main-opts ["-m" "shadow.cljs.devtools.cli"]}}}
